/* --------FONTES-------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

/* ------RESET------ */
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/* ------CORES PADRÃO-------*/
:root {
    --backgroundLight: #F2EFE7;
    --backgroundYellow: #FCB118;
    --backgroundDark: #222222;
    --backgroundLightGray:#D9D9D9;
    --colorGreen:#297e01;
    --colorOrange: #FC7818;

}
/* --------CABEÇALHO--------------- */

/* Background */
header {
    background-color: rgba(41, 126, 1, 0.7);
}

/* Navegação */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family:'Poppins';
    color: #161616;
    font-weight: 700;
    height: 100px;
    max-width: 1400px;
    margin: auto;
}

nav div {
    font-size: 2rem;
}

/* DARK MODE */
.darkMode {
    background-color: transparent;
    border: none;
}

.darkMode ion-icon {
    transition: 500ms all ;
    background-color: #FCB118;
    border-radius: 40px;
    padding: 5px;
    cursor: pointer;
    font-size: 1.8rem;
    margin-left: 40px;
    
}
/* Logo */
.logo.light {
    color: var(--backgroundDark);
}
.logo {
    font-family:'Poppins';
    font-weight: 900;
    font-size: 3rem;
    margin-left: 5px;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation ul {
    display: flex;
    list-style-type: none;
}

.navigation ul li a {
    margin-left: 40px;
    cursor: pointer;
    color: var(--backgroundDark)
}

.nav.light {
    color: #222222;
} 

/* Animação da nav(li) */
.navigation ul li:hover {
    transform: scale(1.2);
    transition: 200ms transform cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navigation ul li a:hover {
    color: var(--backgroundYellow);
    transition: 200ms transform cubic-bezier(0.22, 0.61, 0.36, 1);
}


/* Botão */
.buttonSpeak {
    background-color: var(--backgroundYellow);
    height: 40px;
    width: 190px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    margin-right: 5px;
    font-family:'Poppins';
    font-weight: 600;
    color: var(--backgroundDark);
    font-size: 1.3rem;

    transition: 200ms transform cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: 200ms color cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: 200ms background-color cubic-bezier(0.22, 0.61, 0.36, 1);
}    

/* Animação do botão */
.buttonSpeak:hover {
    transform: scale(1.1);
    background-color: #222222;
    color: var(--backgroundLight);
    transition: 500ms transform cubic-bezier(0.22, 0.61, 0.36, 1);

}

/* ----------------------PRIMEIRA PARTE------------------- */ 

/* Separação das divs */
#one {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    margin-bottom: 70px;
}

article .oneTitle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 85px;
}

/* Customização do titulo principal */
article .oneTitle div:nth-child(1) {
    height: 200px;
    width: 600px;
    margin-top: 30px;
    font-family:'Poppins';
    font-weight: 700;
    font-size: 1.8rem;
    position: relative;
    margin-bottom: 25px;
    
}

/* Primeiro paragrafo amarelo */
article .oneTitle div:nth-child(1) span {
    color: var(--backgroundYellow)
}


/* Customizaçao do emoji */
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
}

article .fa-regular {
    position: relative;
    color: var(--backgroundYellow);
    left: 300px;
    bottom: 60px;
    animation: float 3s ease-in-out infinite;

}

/* Parte das Soft Skills */
article .oneSkills ul {
    display: flex;
}

article .oneSkills ul li {
    font-family:'Poppins';
    font-weight: 500;
    color: var(--colorGreen);
    font-size: 1.5rem;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
}

article .oneSkills ul li:nth-child(1) {
   list-style-type: none;
   margin-left: 0;
}

/* Subtitulo */
article .oneCaption {
    display: flex;
    justify-content: center;
    margin-top: 25px;    
}

article .oneCaption h2 {
    border: 3px solid var(--backgroundYellow);
    padding: 10px;
    border-radius: 20px;
    font-family:'Poppins';
    font-weight: 600;
} 

/* Botão */
article .oneButton {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

article .oneButton button a {
    text-decoration: none;
}

article .oneButton button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family:'Poppins';
    font-weight: 600;
    font-size: 1.5rem;
    border-bottom: 3px solid var(--backgroundYellow);
    transition: 500ms all cubic-bezier(0.165, 0.84, 0.44, 1);
    color: #222222;
}

article .oneButton button:hover {
    transform: scale(1.1);
    background-color: var(--backgroundYellow);
    padding: 10px;
    border-radius: 15px;
    color: #222222;
    transition: 500ms all cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* --Personagem-- */

/* Customização do personagem*/
article .oneImg img {
    width: 600px;
    height: 510px;
    margin-top: 15px;
}

/* button de light/dark */
article .oneButtonImg {
    margin-top: 40px;
    grid-area: button;
    display: flex;
    justify-content: end;
    color: var(--backgroundLight)
}


/* ---------------SOBRE MIM----------------------- */

#two {
padding: 15px;
margin-bottom: 70px;

}

#two .twoCont {
    max-width: 1400px;
    margin: auto;
    margin-top: 0;
    margin-top: 40px;
    display: grid;
    position: relative;
    grid-template-areas: 
    "twoTriangle twoAboutMe"
    ;
}

aside .twoAboutMe {
    grid-area: twoAboutMe;
    
}

aside .twoTriangle {
    grid-area: twoTriangle;
    position: relative;
}

@keyframes floatImg {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);  
    }
}

aside .twoTriangle img {
animation: floatImg 3s ease-in-out infinite;
width: 600px;
height: 590px;
transform: scale(1.2);
z-index: 1;
position: relative;
}

/* Texto sobre mim */
aside .twoAboutMe h1 {
    font-family:'Poppins';
    font-weight: 800;
    color: #297e01;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    margin-top: 80px;
}

aside .twoAboutMe p {
    font-family:'Poppins';
    font-weight: 500;
    font-size: 2rem;
    padding: 20px;
    width:auto;
}

aside .twoAboutMe p span {
    color: #FC7818;
}

aside .twobold {
    font-weight: bold;
}

/* Circulos */

@keyframes floatEllipse {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50px);
    }
}

aside .twoEllipse1 {
    animation: floatEllipse 3s ease-in-out infinite;
    position: absolute;
    left: 200px;
    width: 300px;
    height: 300px;
    background-color: #FC7818;
    border-radius: 300px;
    filter: blur(20.5px);
    z-index: 1;
}

aside .twoEllipse2 {
    animation: floatEllipse 3s ease-in-out infinite;
    position: absolute;
    top: 300px;
    left: 0px;
    width: 250px;
    height: 250px;
    background-color: #297e01;
    border-radius: 300px;
    filter: blur(20.5px);
    z-index: 1;
}

aside .twoEllipse3 {
    animation: floatEllipse 3s ease-in-out infinite;
    position: absolute;
    top: 400px;
    left: 350px;
    width: 150px;
    height: 150px;
    background-color: var(--backgroundYellow);
    border-radius: 300px;
    filter: blur(20.5px);
    z-index: 1;
}

/* ------------------PROJETOS ---------------------*/

/* Divsão das divs */
#three {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 70px;
}

.three {
    background-color: rgba(252, 177, 24, 0.8);
}

#three .threeContainerWidget {
    max-width: 1400px;
    margin: auto;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 70px;

}

/* Titulo */
#three h1 {
    font-family:'Poppins';
    font-weight: 800;
    color: #F2EFE7;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

/* Widgets */
.threeWidget {
    background-color: #FC7818;
    border-radius: 20px;
    padding: 20px;
    width: auto;
    height: auto;
}

/* Texto */
#three .threeWidget p {
    font-family:'Poppins';
    font-weight: 400;
    color: #222222;
    font-size: 1.5rem;
    background-color: #F2EFE7;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid var(--backgroundYellow);
}

#three .threeWidget img {
    border: 3px solid var(--backgroundYellow);
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 268px;
}

.fa-regular {
    margin-bottom: 20px;
    font-size: 3.5rem;
}
/* Parte do link */
.fa-link:hover {
    transform: scale(1.1);
    color: var(--colorGreen);
    transition: 1s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.fa-link {
    color: #161616;
    transition: 1s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fa-solid {
    margin-top: 20px;
    font-size: 3.5rem; 
}

/* ----------------REDES SOCIAIS-------------------- */
.threeSocial {
    background-color: var(--colorOrange);
}

.threeSocial div {
    max-width: 1400px;
    margin: auto;
    padding: 20px;
    display: flex;
    gap: 40px;
}


.threeSocial div i {
    font-size: 3.5rem;
    color: var(--backgroundLight);
    transition: 1s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.threeSocial div i:hover {
    color: var(--backgroundYellow);
    transform: scale(1.1);
    transition: 1s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* ----------------Certificados--------------------- */
.four {
    background-color: rgba(252, 177, 24, 0.8); 
}

#four aside {
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.fourTitle h1 {
    margin-top: 70px;
    margin-bottom: 40px;
    font-family:'Poppins';
    font-weight: 800;
    color: #F2EFE7;
    font-size: 3rem;
    text-align: center;

}
table {
    margin-left: 100px;
}

td {
    font-family:'Poppins';
    font-weight: 600;
    font-size: 1.8rem;
}

td .fa-link {
    font-size: 1.5rem;
    margin-left: 20px;
}
/* Ceta para cima  */
.fa-arrow-up {
    position: fixed;
    top: 695px;
    right: 10px;
    font-size: 2rem;
    opacity: 0.5;
    padding: 10px 15px 10px 15px;
    background-color: #297e01;
    border-radius: 100px;
    transition: 1s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

.fa-arrow-up:hover {
    opacity: 1;
    transform: scale(1.1);
    color: var(--backgroundLight);
    transition: 1s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Footer */
footer {
    background-color: var(--backgroundDark);
}

footer footer {
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 300px;
}

footer footer h1 {
    font-size: 9rem;
    font-family:'Poppins';
    font-weight: 700;
    color: var(--backgroundLight);
}

footer footer p {
    font-size: 1rem;
    font-family:'Poppins';
    font-weight: 700;
    color: var(--backgroundLight);
}


/* Cookies */

.cokkiesCont {
    margin: 0px;
    font-family: 'Poppins';
    position: fixed;
    bottom: 5%;
    left: 2%;
    right: 4%;
    z-index: 1;
    display: none;
}

.cokkiesCont.mostrar {
    display: block;
}

.cokkiesCont .cokkiesTitle {
    width: 100%;
    color: #222222;
    font-size: 0.9rem;
    background-color: var(--backgroundLight);
    padding: 10px 20px;
    border-radius: 10px;

}

.cokkiesCont .cokkiesBtn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.cokkiesCont .cokkiesBtn button:hover {
    transform: scale(0.9);
    background-color: #222222;
}

.cokkiesCont .cokkiesBtn button {
    transition: 300ms all;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 5px 40px;
    border: none;
    color: #F2EFE7;
    background-color: #FCB118;
    border-radius: 5px;
    font-family: 'Poppins';
}

/* Scroolbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--backgroundYellow);
}

/* Responsividade */
@media (max-width:1280px) {

    article .oneImg {
        display: flex;
        align-items: center;
    }
    article .oneImg img {
        width: 400px;
        height: 300px;
    }
    #three .threeContainerWidget {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #three .threeWidget p {
        font-size: 1.5rem;
    }
}

@media (max-width: 1025px) {
    #one {
        justify-content: center;
    }

    #three .threeContainerWidget {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    #three .threeWidget p {
        font-size: 2rem;
    }
}

@media screen and (max-width:1000px) {


    #one {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    #two .twoCont {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    aside .twoAboutMe p {
        text-align: center;
    }

    aside .twoEllipse1 {
        bottom: 70px;
        left: 0px;
    }

    aside .twoEllipse2 {
        top: 20px;
        left: 300px;
    }

    aside .twoEllipse3 {
        top: 470px;
        left: 300px;
    }


    article .oneImg img {
        display: none;
    }

    td {
        font-size: 1.5rem;
    }

    footer footer {
        flex-direction: column;
    }

}


@media screen and (max-width:750px) {
    aside .twoEllipse1 {
        bottom: 70px;
        left: 0px;
        width: 150px;
        height:160px;
    }

    aside .twoEllipse2 {
        top: 20px;
        left: 200px;
        width: 150px;
        height:160px;
    }

    aside .twoEllipse3 {
        top: 280px;
        left: 200px;
    }

    .threeSocial div {
        display: flex;
        flex-wrap: wrap;
    
    }

    aside .twoTriangle img {
        width: 400px;
        height: auto;
    }

    aside .twoAboutMe p {
        font-size: 1.5rem;
    }

    #three .threeWidget p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:580px){
    article .oneTitle div:nth-child(1) {
        height: auto;
        width: auto;
    }

    article .fa-regular {
        bottom: 0px;
        left: 250px;
    }

}

@media screen and (max-width:500px){

    table {
        display: flex;
        justify-content: center;
        margin: 0px;
    }

    article .oneSkills ul  {
        justify-content: center;
    }

    article .oneTitle {
        justify-content: center;
        align-items: center;
    }
    article .oneTitle div:nth-child(1){
        font-size: 1.4rem;
        width: 350px;
        position: relative;
        text-align: center;
    }
    
    article .fa-regular {
        position: absolute;
        top: -80px;
        left: 150px;
    }

    article .oneSkills ul {
        flex-wrap: wrap;
    }

    aside .twoTriangle img {
        width: 350px;
    }

    aside .twoEllipse1 {
        bottom: 70px;
        left: 0px;
        width: 150px;
        height:160px;
    }

    aside .twoEllipse2 {
        top: 10px;
        left: 150px;
        width: 150px;
        height:160px;
    }

    aside .twoEllipse3 {
        top: 210px;
        left: 200px;
    }

    td {
        text-align: center;
    }

    
}


/* ----------------MENU HAMBUGUER----------- */
.hamburguer {
    display: none;
    background-color: var(--backgroundYellow);
    height: 5px;
    width: 40px;
    border: none;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.hamburguer::before {
    content: '';
    background-color: var(--backgroundYellow);
    position: absolute;
    border-radius: 10px;
    height: 5px;
    width: 40px;
    bottom: 10px;
    left: 0px;
}


.hamburguer::after{
    content: '';
    background-color: var(--backgroundYellow);
    position: absolute;
    border-radius: 10px;
    height: 5px;
    width: 40px;
    top: 10px;
    left: 0px;
}

/* adptabilidade do hambuguer */
@media screen and (max-width:1080px) {


    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }

    .hamburguer {
        display: block;
        margin-left: 195px;
        margin-right: 10px;

    }

    .hamburguer:hover {
        transform: scale(1.2);
        transition: 200ms cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    .buttonSpeak {
        position: absolute;
        display: none;
        top: 530px;
        right: 5px;
        font-size: 2rem;
        width: 240px;
        height: 50px;
        border-radius: 30px;

    }

    .navigation ul li {
        margin: 0px;
        padding-bottom: 50px;
    }

    @keyframes open {
        from {
            height: 0px;
        }

        to {
            height: 500px;
        }
    }

    .navigation ul {
        position: absolute;
        display: none;
        animation-name: open;
        animation-duration: 100ms;
        transition-delay: 100ms;
        width: 280px;
        height: 500px;
        border-bottom-left-radius: 20px;
        z-index: 1;
        background-color: #F2EFE7;
        padding: 40px 10px 10px 10px;
        text-align: center;
        top: 50px;
        left: calc(190% - 35px);
    }

    .navigation {
        position: relative;
    }

    .darkMode {
        position: absolute;
        top: calc(270% - 100px);
    }

    .nav.active {
        display: block;

    }

    .buttonSpeak.active {
        display: block;
        z-index: 1;
    }
}

/* DARK MOD */
html {
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dark {
    transition: 200ms all cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #222222;
    color: #F2EFE7;
}
.darkNav {
    transition: 200ms all cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #878787;
}

.darkButton {
    transition: 200ms all cubic-bezier(0.075, 0.82, 0.165, 1);
    color: #F2EFE7;
}

.darkThree {
    transition: 200ms all cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #353535;
}

.darkFour {
    transition: 200ms all cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #353535;
}

.sunny {
    display: block;
}

.sunny.dark {
    display: none;
}

.moon.dark {
    display: block;
    background-color: #F2EFE7;
}

.moon {
    display: none;
}

/* Scrol Reval */ 
#one, #two {
    visibility: hidden;
}

header #check{
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    opacity: 0.5;
}
